<article class='post'>
    <header>
        <h2 class='post__title'>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis repellendus molestiae laboriosam debitis quos saepe a, 
            tempora aut magnam reiciendis rerum veritatis, in maxime eos doloremque blanditiis consequatur minus atque.
        </h2>
    </header>
    <div class="post__body">
        Lorem ipsum dolor sit amet consectetur, 
        adipisicing elit. Inventore voluptas laboriosam velit culpa officia repellendus veritatis quae delectus ex unde!
    </div>
</article>